#buy{
	float: left;
	background-color: #dda0dd;
	height: 600px;
	width: 47%;
	font-size: 1.5em;
	color: blue;
	margin: 10px;
}

#bought{
	float: right;
	background-color: #87ceeb;
	height: 600px;
	width: 47%;
	font-size: 1.5em;
	color: green;
	margin: 10px;
}

h2{
	background-color: yellow;
}
.rouge{
	color: red;
}

h3{
	color: red;
}
.centrer{
	margin-left: 20%;
	margin-right: 20%;
}
